#main {
  padding: 2rem;
  width: 100%;
  height: auto;
  background-color: inherit;
}
#container {
  background-image: url(../img/eyeball.jpg);
  background-size: 100%;
  color: #ccc;
  background-repeat: no-repeat;
  height: 100rem;
}
#inputNumber {
  width: 50%;
}
#outPut {
  background-color: rgba(172, 62, 45, 0.7);
}
.inPut {
  width: 100%
}
h1 {
  text-align: center;
}
#goof {
  font-weight: bold;
  font-size: large;
  color: #b73535;
}
button {
  border-radius: 1rem;
  color: #333;
}
